.dropdown {
    position: relative;
    display: inline-block;
  }
  
  #outer{
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }

  #map{
    border:2px solid black;
    border-radius: 7px;
    margin: 1%;
    width: 60%;
    height: 90vh;
  }

  #first{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 80vh;
    background: #fad675;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    margin-left: 5%;
    margin-right: 2%;
    align-items: center;
  }

  